header {
  background: rgb(137, 205, 143);
  display: flex;
  align-items: center;
}

section{

  box-shadow: -1px 12px 27px 1px rgba(0,0,0,0.75);
  padding: 6em;
  min-height: 40vh;
}
/* STYLES POUR NAVIGATION */

nav {
  width: 100%;

}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: rgb(253, 253, 253);
  display: block;
  background: rgb(137, 205, 143);
  padding: 1em;

}

h1 {
  text-align: center;
  color: rgb(253, 253, 253);
}

p {
  text-align: center;
  color: rgb(253, 253, 253);
}

body {
  background: rgb(137, 205, 143);
}
/* STYLES POUR NAVIGATION 01 */

#section01{
  background: url('https://i.pinimg.com/564x/57/9a/08/579a085a39ed8f955df17e0c00256581.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section01 h1{
  color : rgb(137, 205, 143);
  font-size: 8em;
  text-align: center;
}
